#legal-progress-table-content .ant-table-tbody>tr>td, .ant-table-thead>tr>th {
    padding: 4px 12px 4px 12px;
}

#system-approve-userlist-content .ant-avatar>img {
    display: block;
    width: auto;
    height: 100%;
}

.reward-apply-content-title-text .ant-btn-danger {
    color: #f0f2fd;
    background-color: #f5222d;
    border-color: #d9d9d9;
}